.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem 0;
}

.projects h2 {
  font-size: 5rem;
}

.projects p {
  font-size: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-box {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-box:nth-child(even) {
  flex-direction: row-reverse;
}

.p-image {
  max-width: 40%;
  border-radius: 1rem;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.project-text h3 {
  font-size: 4rem;
  margin: 1rem;
  margin-bottom: 3.5rem;
}

.project-text p {
  font-size: 3rem;
  margin: 1rem 0;
  line-break: loose;
}

.project-text p a {
  color: #0aff9d;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.icon-image {
  max-width: 3rem;
}

@media screen and (max-width: 1080px) {
  .projects h2 {
    font-size: 4rem;
  }

  .projects p {
    font-size: 1.8rem;
  }

  .project-text h3 {
    font-size: 3rem;
  }

  .project-text p {
    font-size: 1.9rem;
  }

  .icon-image {
    max-width: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .project-box {
    flex-direction: column;
    align-items: center;
  }

  .project-box:nth-child(even) {
    flex-direction: column;
  }

  .p-image {
    max-width: 90%;
  }

  .project-text {
    max-width: 100%;
    margin: 0rem 0.5rem;
  }
}

@media screen and (max-width: 490px) {
  .project-box h2 {
    font-size: 3rem;
  }

  .project-box {
    width: 99%;
  }

  .p-image {
    max-width: 99%;
  }
}
